:root {
    --color1: #0B090A;
    --color2: #161A1D;
    --color3: #660708;
    --color4: #A4161A;
    --color5: #BA181B;
    --color6: #E5383B;
    --color7: #B1A7A6;
    --color8: #D3D3D3;
    --color9: #F5F3F4;
    --color10: #FFFFFF;
    --colorA1: #8ECAE6;
    --colorA2: #219EBC;
    --colorA3: #023047;
    --colorA4: #FFB703;
    --colorA5: #FB8500;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body
{
    background: var(--color10);
    color: #333;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    margin: 0;
    padding: 0;
}
header
{
    background: var(--color3);
    color: var(--color9);
    margin: 0;
    /* padding: 2rem 1rem; */
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    display: block;
}
/* header #tagline
{
    padding: 1rem 0 0 0;
    font-weight: normal;
    font-size: 1rem;
    height: 10vh;
} */
.navbar {
    display: block;
    height: 8vh;
    background: var(--colorA3);
    margin: auto;
    border: none;
}
.navbar > .container{
    padding: auto 1.5rem;
    height: 8vh;
}
.navbar-collapse > .nav{
    height: 8vh;
}
.nav li a{
    height: 8vh;
    line-height: 3rem;
}
.navbar-brand img{
    height: 3.5rem;
}
main
{
    background: var(--color10);
    width: 100vw;
    height: 80vh;
    text-align: left;
    margin: auto;
    padding: 2rem 2rem;
}
#post
{
    font-size: 2rem;
}
footer
{
    color: var(--color7);
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    height: 10vh;
}
img {
    max-width: 400px;
}
#login
{
    background: var(--colorA1);
    width: 100%-4rem;
    text-align: left;
    margin: 10rem auto;
    padding: 2.5rem;
    border-radius: 2.5rem;
    /*box-shadow: 0.5rem 0.5rem 2rem var(--colorA2);*/
    /*border: 2px solid var(--colorA3);*/
}
#login > h1{
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    margin: auto;
}
@media (min-width: 440px){
    #login{
        width: 40rem;
    }
}