:root {
    --color1: #0B090A;
    --color2: #161A1D;
    --color3: #660708;
    --color4: #A4161A;
    --color5: #BA181B;
    --color6: #E5383B;
    --color7: #B1A7A6;
    --color8: #D3D3D3;
    --color9: #F5F3F4;
    --color10: #FFFFFF;
    --colorA1: #8ECAE6;
    --colorA2: #219EBC;
    --colorA3: #023047;
    --colorA4: #FFB703;
    --colorA5: #FB8500;
    --colorBrandGrey: #eef0f2;
    --colorBrandDarkBlue: #011638;
    --colorBrandBlue: #0d21a1;
    --colorBrandYellow: #eec643;
    --colorBrandBlack: #141414;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body
{
    background: var(--color10);
    color: #333;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    margin: 0;
    padding: 5rem 0 0 0;
}
header
{
    margin: 0;
    /* padding: 2rem 1rem; */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    display: block;
}
.navbar-inverse {
    background-color: var(--colorBrandDarkBlue);
}
.navbar-brand{
    padding: 0.2rem;
}
.navbar-brand img{
    height: 100%;
}
.nav > .dropdown > .btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    background: var(--colorBrandDarkBlue);
    color: var(--colorBrandGrey); 
}
main
{
    background: var(--color10);
    width: 100vw;
    text-align: left;
    margin: auto;
    /* padding: 1rem 1rem; */
    display: block;
}
footer
{
    color: var(--color7);
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    height: 10vh;
}
img {
    max-width: 400px;
}
#login
{
    background: var(--colorBrandGrey);
    width: 100%-3rem;
    text-align: left;
    margin: 2rem auto;
    padding: 2.5rem;
    border-radius: 2.5rem;
    /*box-shadow: 0.5rem 0.5rem 2rem var(--colorA2);*/
    /*border: 2px solid var(--colorA3);*/
}
#login > h1{
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    margin: auto;
}
#login > a{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    margin: auto;
    display: block;
}
#login > img{
    width: 100%;
}
.control-label{
    font-size: 1.2rem;
}
.checkbox{
    font-size: 1.3rem;
    text-align: center;
}
.form > .btn{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background: var(--colorBrandDarkBlue);
    color: var(--colorBrandGrey); 
}
.container-jobs{
    width: 50%;
}
/* .panel-heading{
    background-color: var(--colorBrandBlue);
} */
.panel-title{
    display: inline-block;
    font-size: 2.5rem;
}
.new-button{
    display: inline;
    float: right;
}
.div-request-title{
    display: inline-block;
}
.div-status{
    display: inline;
    float: right;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#asset_table > tbody > tr > th{
    font-size: 1rem;
}


@media (min-width: 440px){
    #login{
        width: 30rem;
    }
}
@media (max-width: 700px){
    .container-jobs{
        width: 100%;
    }
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}