:root {
    --color1: #0B090A;
    --color2: #161A1D;
    --color3: #660708;
    --color4: #A4161A;
    --color5: #BA181B;
    --color6: #E5383B;
    --color7: #B1A7A6;
    --color8: #D3D3D3;
    --color9: #F5F3F4;
    --color10: #FFFFFF;
    --colorA1: #8ECAE6;
    --colorA2: #219EBC;
    --colorA3: #023047;
    --colorA4: #FFB703;
    --colorA5: #FB8500;
    --colorBrandGrey: #eef0f2;
    --colorBrandDarkBlue: #011638;
    --colorBrandBlue: #0d21a1;
    --colorBrandYellow: #eec643;
    --colorBrandBlack: #141414;
    --sidebarWidth: 200px;
    --minusSidebarWidth: -200px;
}   
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body
{
    color: var(--colorBrandBlack);
    font-family: 'Trebuchet MS';
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}
header
{
    margin: 0;
    /* padding: 2rem 1rem; */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    display: block;
    background-color: var(--colorBrandDarkBlue);
}
#navbar_b5 {
    background-color: var(--colorBrandDarkBlue);
    color: var(--colorBrandGrey);
}

#navbar_b5 .li .a:hover{
    background-color: var(--colorBrandGrey);
    color: var(--colorBrandBlack);
}

.nav-link{
    color: var(--colorBrandGrey) !important;
}
.nav-link:hover,
.nav-link:active,
.open{
    color: var(--colorBrandBlack) !important;
    background-color: var(--colorBrandYellow) !important;
}

.nav>li>a:hover, .nav>li>a:active {
    color: var(--colorBrandBlack);
    background-color: var(--colorBrandYellow);
}

.navbar-brand{
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.navbar-brand-logo img{
    height: 4rem;
    padding: 0.1rem;
    display: inline-block;
}
.nav > .dropdown > .btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    background: var(--colorBrandDarkBlue);
    color: var(--colorBrandGrey); 
}

#sidebar-btn{
    background: var(--colorBrandDarkBlue);
    border-width: 0.1rem;
    border-color: var(--colorBrandBlack);
    display: inline-block;
    margin: 0rem;
}

#navbar-list ul li a:hover{
    background: var(--colorBrandBlack);
    color: var(--colorBrandGrey);
}

.dropdown-menu{
    background-color: var(--colorBrandDarkBlue) !important;
    color: var(--colorBrandDarkBlue) !important;
}
.dropdown-menu{
    background-color: var(--colorBrandDarkBlue) !important;
}

.dropdown-menu li a{
    color: var(--colorBrandGrey) !important;
}
.dropdown-menu li a:hover{
    color: var(--colorBrandBlack) !important;
    background-color: var(--colorBrandYellow) !important;
}

.dropdown-menu .divider{
    background: var(--colorBrandGrey) !important;
}

main
{
    background: var(--color10);
    width: 100vw;
    text-align: left;
    margin: auto;
    /* padding: 1rem 1rem; */
    display: block;
}
footer
{
    color: var(--color7);
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    height: 10vh;
}
img {
    max-width: 400px;
}

#profile_form{
    width: 50%;
    margin: auto;
}

#login
{
    background: var(--colorBrandGrey);
    width: 100%-3rem;
    text-align: left;
    margin: 2rem auto;
    padding: 2.5rem;
    border-radius: 2.5rem;
    /*box-shadow: 0.5rem 0.5rem 2rem var(--colorA2);*/
    /*border: 2px solid var(--colorA3);*/
}
#login > h1{
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    margin: auto;
}
#login > a{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    margin: auto;
    display: block;
}
#login > img{
    width: 100%;
}
.control-label{
    font-size: 1.2rem;
}
.checkbox{
    font-size: 1.3rem;
    text-align: center;
}
.form > .btn{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background: var(--colorBrandDarkBlue);
    color: var(--colorBrandGrey); 
}
.container-jobs{
    width: 50%;
}
/* .panel-heading{
    background-color: var(--colorBrandBlue);
} */
.panel-title{
    display: inline-block;
    font-size: 1.5rem;
}
.new-button{
    float: right;
    height: 1.5rem;
}
.div-request-title{
    display: inline-block;
}
.div-status{
    float: right;
}

#wrapper{
    margin: 0rem;
    width: 100% - var(--sidebarWidth);
}


#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: var(--sidebarWidth);
    width: 0;
    height: 100%;
    margin-left: var(--minusSidebarWidth);
    overflow-y: auto;
    background: var(--colorBrandBlack);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: var(--sidebarWidth);
}

.sidebar-nav {
    position: absolute;
    top: 1rem;
    width:  var(--sidebarWidth);
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.3s;
}

#sidebar-wrapper.active,
#sidebar-list.active{
    width: 200px;
  }

.sidebar-nav li {
    text-indent: 2rem;
    line-height: 4rem;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: var(--colorBrandGrey);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: var(--colorBrandBlack);
    background: var(--colorBrandYellow);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: var(--colorBrandYellow)
}

#asset_table>tbody>tr>td{
    font-size: 1rem;
}

#page-content-wrapper {
    padding: 10px;
    position: relative;
}

.navbar-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: yellow;
}

thead input {
    width: 100%;
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: var(--colorBrandGrey) !important;
    background-color: var(--colorBrandDarkBlue) !important;
}



@media (min-width: 440px){
    #login{
        width: 30rem;
    }
}
@media (max-width: 700px){
    .container-jobs{
        width: 100%;
    }
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 10px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #sidebar-btn{
        display: none;
    }

}