{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Inicio
{% endblock %}

{% block content %}
    <h1>Visor de IP</h1>
                    
    {% if user_ip %}
        <p>Tu IP es {{ user_ip }}</p>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <a href="{{ url_for('comm_map') }}">Mapa de comunicaciones</a>
                    
    <ul>
        {% for element in options %}
            <li>{{ element }}</li>
        {% endfor %}
    </ul>
{% endblock %}          
