{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Inicio
{% endblock %}


{% block content %}
    {{ super() }}

            <table id="asset_table" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>VFD ID</th>
                        <th>Nombre Asset</th>
                        <th>Nombre Componente</th>
                        <th>Estacion</th>
                        <th>Clase</th>
                        <th>Riesgo</th>
                        <th>Desempeño</th>
                    </tr>
                </thead>
                <tbody>
                    {% for component in components %}
                    <tr>
                        <td class="select-checkbox"></td>
                        <td>{{ component.vfp_id }}</td>
                        <td>{{ component.asset_component }}</td>
                        <td>{{ component.name }}</td>
                        <td>{{ component.station }}</td>
                        <td>{{ component.class_type }}</td>
                        <td>{{ component.risk }}</td>
                        <td>{{ component.performance }}</td>
                        <!-- <td>
                            <div class="new-button">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Action 
                                </button>
                            </div>
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Request</h4>
        </div>
        <div class="modal-body">
            {{ wtf.quick_form(asset_form) }}
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
</div>


{% endblock %}          

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#asset_table thead tr').clone(true).appendTo( '#asset_table thead' );
            
            var isFirstColumn = true;

            $('#asset_table thead tr:eq(1) th').each( function (i) {
                
                
                if(!isFirstColumn){
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
    
                    $( 'input', this ).on( 'keyup change', function () {
                        console.log("keyupchange");
                        if ( table.column(i).search() !== this.value ) {
                            table
                                .column(i)
                                .search( this.value )
                                .draw();
                        }
                    } );
                }else{
                    isFirstColumn = false;
                }
                
            });



            var table = $('#asset_table').DataTable({
                columnsDefs: [
                    {
                        orderable: false,
                        className: "select-checkbox",
                        targets: [0],
                        defaultContent: '',
                        data: null
                    },
                    {
                        searchable: false,
                        targets: [5, 6]
                    },
                    {
                        orderable: false,
                        targets: [2, 3]
                    },
                ],
                select: {
                            style: 'multi',
                            selector: 'td:first-child'    
                        },
                order: [[1, 'asc']],
                orderCellsTop: true,
                fixedHeader: true
            });
        });


    //     $(document).ready(function (){
    //      var table = $('#asset_table').DataTable({
    //      'ajax': '/lab/jquery-datatables-checkboxes/ids-arrays.txt',
    //      'columnDefs': [
    //          {
    //              'targets': 0,
    //              'checkboxes': {
    //                  'selectRow': true
    //              }
    //          }
    //      ],
    //      'select': {
    //          'style': 'multi'
    //      },
    //      'order': [[1, 'asc']]
    //      });
    
    
    //     // Handle form submission event
    //      $('#frm-example').on('submit', function(e){
    //      var form = this;
    
    //      var rows_selected = table.column(0).checkboxes.selected();
    
    //      // Iterate over all selected checkboxes
    //      $.each(rows_selected, function(index, rowId){
    //          // Create a hidden element
    //          $(form).append(
    //              $('<input>')
    //                  .attr('type', 'hidden')
    //                  .attr('name', 'id[]')
    //                  .val(rowId)
    //          );
    //      });
    //      });
    //  });





    </script>



{% endblock %}