{% extends 'bootstrap/base.html' %}
    {% block html %}
    

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"
        crossorigin="anonymous"></script>
    


    {% block head %}
        {{ super() }}

        <title>
            {% block title%} C&S |{% endblock %} 
        </title>
        
        {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}" />
        {% endblock %}

    {% endblock %}
    
    {% block body %}

        <header>
            <!-- <h1>
            Control y Scada Webapp
            </h1>
            <h2 id="tagline">
            {% block header %}Interagua |{% endblock %}
            </h2> -->
            {% if current_user.is_authenticated %}
                <nav>
                {% block navbar %}
                    {% include 'navbar.html' %}
                {% endblock %}
                </nav>
            {% endif %}
        </header>
        

        
        <main>
            
            {% for message in get_flashed_messages() %}
                <div class="alert aler-success alert-dismissible">
                    <button type="button"
                        data-dismiss="alert"
                        class="close">&times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}

            {% endblock %}

        </main>
        <footer>
            MADE WITH LOVE IN ECUADOR
        </footer>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}

{% endblock %}