{% extends 'Bootstrap/base.html' %}
    {% block html %}
    
    {% block head %}
        {{ super() }}
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"
        crossorigin="anonymous"></script>



        <title>
            {% block title%} C&S |{% endblock %} 
        </title>
        
        {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        {% endblock %}
    {% endblock %}
    
    {% block body %}

        <header>
            {% if current_user.is_authenticated %}
                <nav>
                {% block navbar %}
                    {% include 'navbar.html' %}
                {% endblock %}
                </nav>
            {% endif %}
        </header>
        

        
        <main id="wrapper">
            
            <div>
                {% if current_user.is_authenticated %}
                <nav>
                {% block sidebar %}
                    {% include 'sidebar.html' %}
                {% endblock %}
                </nav>
                {% endif %}
            </div>

            <div id="page-content-wrapper">
            {% block content %}


            {% endblock %}
            </div>
        </main>



        <footer>
        FLOWCLUB   -   MADE WITH LOVE IN ECUADOR
        </footer>

        
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {% include 'script.html' %}
    {% endblock %}

{% endblock %}