{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Inicio
{% endblock %}


{% block content %}


    <div class=container-jobs>
        <h2>Trabajos</h2>
        <ul class="list-group">
            {% for job in jobs %}
                <li class="list-group-item">
                    {{ job.description }}
                    {% for label in job.tags %}
                        <span class="label label-primary">{{ label }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class=container-jobs>
        <h2>Solicitudes</h2>
        <ul class="list-group">
            {% for request in requests %}
                <li class="list-group-item">
                    {{ request.description }}
                    {% for label in request.tags %}
                        <span class="label label-primary">{{ label }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}          
