{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Inicio
{% endblock %}

<!-- {% block header %}
    {{ super() }}
    {%if username %}
        {{ username | capitalize}}  
    {% endif %}
{% endblock %} -->

{% block content %}
    <h1>Visor de IP</h1>
                    
    {% if user_ip %}
        <p>Tu IP es {{ user_ip }}</p>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}
                    
    <ul>
        {% for element in options %}
            <li>{{ element }}</li>
        {% endfor %}
    </ul>
{% endblock %}          
