{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Login
{% endblock %}

{% block body %}
    <div class="container" id="login">
        <!-- <form action="{{ url_for('hello') }}" method="POST">
            {{ login_form.username.label }}
            {{ login_form.username }}

        </form> -->
        <img src="{{ url_for('static', filename='images/login_logo.png') }}"
        alt="Login Logo">
        {% include 'alert.html' %}
        {{ wtf.quick_form(login_form) }}
        <a href="{{ url_for('auth.signup') }}">Not a user? Register here</a>
    </div>        
{% endblock %}     